{% extends "base.html.twig"%}
{% block title %} Accueil | {{ parent() }} {% endblock %}

{% block body %}
    <section class="box features">
        <h2 class="major"><span>Chien</span></h2>
        <div>
            <div class="row">
                <h4>Catégorie</h4>
                <p>Chien</p>
            </div>
        </div>
    </section>

{% endblock %}